
<div class="hero text-center"></div><br />
	<div class="index_content">
  			<h2 class="awesome">Awesome People are Hard To Find</h2>
  			<p class="flex-box-fun">Let's Name Them</p>

   <!-- Button trigger modal -->
  <button type="button" class="btn btn-info btn-lg btn3d" data-toggle="modal" data-target="#exampleModal">
   Add a Cool Person
  </button>
  </div>

<!-- Modal -->
<div class="modal fade" id="exampleModal" tabindex="-1" role="dialog" aria-labelledby="exampleModalLabel" aria-hidden="true">
  <div class="modal-dialog" role="document">
    <div class="modal-content">
      <div class="modal-header">
        <h5 class="modal-title" id="exampleModalLabel">Vitals</h5>
        <button type="button" class="close" data-dismiss="modal" aria-label="Close">
          <span aria-hidden="true">&times;</span>
        </button>
      </div>
  <%= simple_form_for Bio.new, :html => {:multipart => true} do |f| %>
  <div class="modal-body col-xs-10 col-xs-offset-1">
    
      <%= f.input :name, placeholder: "Enter Your Name" %>
      <%= f.input :description, placeholder: "Describe Yourself" %>
      <%= f.input :hometown, placeholder: "Where you from?" %> 
      <%= f.input :caption, placeholder: "Add a caption" %> 
      <%= f.file_field  :picture  %><br />

      <br />

       <h5 class="modal-title" id="exampleModalLabel">Characteristics</h5>
  <div class="container">
    <div class="row">

      <span class="ratings">
            <div class="attribute"> 
                <div id="rating-form">
                   <span class="line-of-stars"><label class="text-left"><strong>Strength</strong></label></span>
                </div>
            </div>

       
            <div class="attribute">
              <div id="ratings-form">
                   <span class="line-of-stars"><label class="text-left"><strong>Endurance</strong></label></span>
                </div>
            </div><br />

        
             <div class="attribute">
             <div id="rate-form">
                   <span class="line-of-stars"><label class="text-left"><strong>Integrity</strong></label></span>
                </div>
             </div>
        
            <div class="attribute">
              <div id="star-form">
                   <span class="line-of-stars"><label class="text-left"><strong>Patience</strong></label></span>
                </div>
            </div><br />
          
            <div class="attribute">
              <div id="starring-form">
                   <span class="line-of-stars"><label class="text-left"><strong>Empathy</strong></label></span>
                </div>
            </div>
      </span>
    </div>
  </div>
</div>
  <%= f.submit 'Add a Cool Person', class: 'btn btn-info btn-lg btn3d' %> 
      
       
</div>


   
     
    </div>
  </div>
</div>
</div>

<% end %> 

<script>

  $('#rating-form').raty({
    path: '/assets/',
    scoreName: 'bio[rating]'
  });
</script>

<script>

  $('#starring-form').raty({
    path: '/assets/',
    scoreName: 'bio[rating]'
  });
</script>

<script>

  $('#rate-form').raty({
    path: '/assets/',
    scoreName: 'bio[rating]'
  });
</script>

<script>

  $('#star-form').raty({
    path: '/assets/',
    scoreName: 'bio[rating]'
  });
</script>

<script>

  $('#ratings-form').raty({
    path: '/assets/',
    scoreName: 'bio[rating]'
  });
</script>

<script>
$('.review-rating').raty({
      readOnly: true,
     path: '/assets/',
    score: function() {
      return $(this).attr('data-score');
  },

  path: '/assets/'

});

  </script>

    


    
<br />

<h1 class="title text-center ">The Awesome Ones</h1>
 
<div class="container">
  <div class="row text-center">
  <% @bios.each do |bio| %>
    <div class="booyah-box col-md-4">
      <p><%= image_tag bio.picture.to_s, :class => "picture" %></p> 
      <div class="details col-md-4">
        <h1><%= link_to bio.name, bio_path(bio), :class => "name" %></h1>
        <p class="caption"> <%= bio.caption %> </p>
      </div>
    </div> 
    <% end %>
  </div>
</div>

<div class="text-center">
  <ul class="pagination">
    <%= will_paginate @bios, renderer: BootstrapPagination::Rails, previous_label: "Older", next_label: "Newer", inner_window: 1, outer_window: 0 %> </p>
  </ul>
</div>
























