
<div class="hero text-center"></div><br />
	<div class="index_content">
  			<h2 class="awesome">Awesome People are Hard To Find</h2>
  			<p class="flex-box-fun">Let's Name Them</p>

   <!-- Button trigger modal -->
  <button type="button" class="btn btn-info btn-lg btn3d" data-toggle="modal" data-target="#exampleModal">
   Add a Cool Person
  </button>
  </div>

<!-- Modal -->
<div class="modal fade" id="exampleModal" tabindex="-1" role="dialog" aria-labelledby="exampleModalLabel" aria-hidden="true">
  <div class="modal-dialog" role="document">
    <div class="modal-content">
      <div class="modal-header">
        <h5 class="modal-title" id="exampleModalLabel">Vitals</h5>
        <button type="button" class="close" data-dismiss="modal" aria-label="Close">
          <span aria-hidden="true">&times;</span>
        </button>
      </div>
  <div class="modal-body col-xs-10 col-xs-offset-1">
    <%= simple_form_for Bio.new, :html => {:multipart => true} do |f| %>
      <%= f.input :name, placeholder: "Enter Your Name" %>
      <%= f.input :description, placeholder: "Describe Yourself" %>
      <%= f.input :hometown, placeholder: "Where you from?" %> 
      <%= f.file_field  :picture  %><br />
      <br />

       <h5 class="modal-title" id="exampleModalLabel">Characteristics</h5>
  <div class="container">
    <div class="row">

      <span class="ratings">
            <div class="attribute">
              <%= f.label :strength %>
              <%= f.number_field :rating %> 
            </div>
       
            <div class="attribute">
              <%= f.label :endurance %>
              <%= f.number_field :rating %> 
            </div><br />

        
             <div class="attribute">
             <%= f.label :integrity %>
              <%= f.number_field :rating %> 
             </div>
        
            <div class="attribute">
              <%= f.label :patience %>
              <%= f.number_field :rating %> 
            </div><br />
          
            <div class="attribute">
              <%= f.label :empathy %>
              <%= f.number_field :rating %> 
            </div>
      </span>
    </div>
  </div>
</div>
  <%= f.submit 'Add a Cool Person', class: 'btn btn-info btn-lg btn3d' %> 
      <% end %> 
       
</div>
   
     
    </div>
  </div>
</div>
</div>

<script>


   $.('.modal-body').raty({
    readOnly: true,
    score: function() {
      return $(this).attr('data-score');
    },
    path: /assets/

  });
   

 </script>

    


    
<br />

<h1 class="title text-center ">The Awesome Ones</h1>
 
<div class="container">
  <div class="row text-center">
  <% @bios.each do |bio| %>
    <div class="booyah-box col-md-4">
      <p><%= image_tag bio.picture.to_s, :class => "picture" %></p> 
      <div class="details col-md-4">
        <h1><%= link_to bio.name, bio_path(bio), :class => "name" %></h1>
        <p class="caption"> <%= bio.caption %> </p>
      </div>
    </div> 
    <% end %>
  </div>
</div>

























