
	<div class="hero text-center"></div><br />
		<div class="index_content">
			<h2 >Awesome People are Hard To Find</h2>
			<p>Let's Name Them</p>
			<%= link_to 'Add a Cool Person', new_bio_path, class: 'btn btn-info btn-lg btn3d' %> 
		</div>
  </div> 

<br />
<div class="row feature text-center">
  <div class="col-12 col-sm">
    <h3>Pat</h3>
    	<%= image_tag("pat.jpg", size: "320x240") %> 
  </div>

  <div class="col-12 col-sm">
    <h3>Feature 2</h3>
  </div>

  <div class="col-12 col-sm">
    <h3>Feature 3</h3>
  </div>
</div>

<% @bios.each do |bio| %>
<div class="booyah-box col-xs-4 col-xs-offset-1">
  <h1><%= link_to bio.name, bio_path(bio) %></h1>
  <p><%= bio.age %></p>
  <p><%= bio.description %> 
  <p><%= bio.hometown %></p>
  <p><%= bio.hobbies %></p>

  <% if bio.user.present? %>
    <small><%= bio.user.email %></small>
  <% end %> 
  </div>
<% end %> 

























