
	
	
	<div class="show-box col-xs-10 col-xs-offset-1">
		<div class="name-position">
			<p><%= image_tag(@bio.picture_url.to_s, class: 'show-page-pic') %></p>
			<h3 class="hero-name"><%= @bio.name %></h3>
		</div>
		
		<br />
		<div class="container">
					<button type="button" class="btn btn-info" data-toggle="collapse" data-target="#demo">Click To Learn More</button>
  				<div id="demo" class="collapse">
  				<div class="details-show">
					
					<p><%= @bio.description %></p> 
					<p><%= @bio.hometown %></p> 
					
				</div>
				<div class="review-rating" data-score="<%= @bio.rating %>">
					<p class="col-3">Strength</p>
              		<%= @bio.strength %>
            	</div>
            	<div class="review-rating" data-score="<%= @bio.rating %>">
            		<p class="col-3">Endurance</p>
              		<%= @bio.endurance %>
            	</div>
            	<div class="review-rating" data-score="<%= @bio.rating %>">
            		<p class="col-3">Integrity</p>
              		<%= @bio.integrity %>
            	</div>
            	<div class="review-rating" data-score="<%= @bio.rating %>">
            		<p class="col-3">Patience</p>
              		<%= @bio.patience %>
            	</div>
            	<div class="review-rating" data-score="<%= @bio.rating %>">
            		<p class="col-3">Empathy</p>
              		<%= @bio.empathy %>
            	</div>

         
             <%= simple_form_for @comment url: bio_comments_path(@bio) do |f| %>
               <%= f.input :message %> 
               <%= f.submit "Add Comment", class: 'btn btn-primary' %>
             <% end %> 
				<button type="button" class="btn btn-primary btn-lg">Contact Me</button>
			</div>
		</div>


<script>
$('.review-rating').raty({
      path: '/assets/',
      readOnly: true,
      score: function() {
            return $(this).attr('data-score');
    }
  });

  </script>


<script>


  


	







